@using Portfolio.Data

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-start p-2" style="min-height: 30rem; margin-top: 10rem;">
	<span id="typed_headline" class="text-white d-inline-flex align-items-center" style="height: 3rem;">
	</span>
	<span id="typed_description" class="text-white">

	</span>
</div>

<section id="about" class="container py-5">
	<h3>#<span class="text-white">About me</span></h3>
	<div class="row m-0 p-0 mb-3 align-items-stretch">
		<div class="col-md-2 d-flex justify-content-center align-items-center" style="min-height: 15rem; overflow:auto;">
			<img src="~/images/rund profiilbild.png" alt="Profilbild" class="img-fluid rounded-circle shadow-lg border border-success" />
		</div>

		<div class="card col-xl-7 border-success rounded-5 p-2 d-flex flex-column" style="min-height: 15rem;">
			<p class="lead fs-5 text-white mb-1">
				I always had an interest in coding from when I was young but it's just recenly I started
				pursuing a career in the area. I have a bachelor degree in Game Design from Uppsala University
				and I’m currently working on improving my skills in C#/.Net, HTML, CSS and Javacript.
				<br /><br />
				🔭 I'm hungry to learn more about AI (like Behaviour Trees, Utility AI and Fuzzy logic),
				AR/ XR development and maybe Procedural generation or other fun stuff like Boids algorithm or similar.
				Whether it's creating websites, games or AR applications doesn't matter. I just think its fun to build new things and solve problems.
			</p>
		</div>
		<div class="col-xl-3 m-0 p-0 ps-xl-3 mt-3 mt-xl-0 d-flex" style="position:relative;">
			<div class="card border border-success rounded-5 p-0 m-0 ps-0 pt-2 flex-fill">
				<p class="fs-5 fw-bold ps-3 text-white">Personality</p>
				<ul class="fs-6 fw-bold text-white">
					<li>Honest - <span class="fw-normal fs-6">Honesty above all.</span></li>
					<li>Kind - <span class="fw-normal fs-6">Being there for people.</span></li>
					<li>Problem solver - <span class="fw-normal fs-6">I love solving problems.</span></li>
					<li>Creative - <span class="fw-normal fs-6">Exploring new ideas.</span></li>
					<li>Flexible - <span class="fw-normal fs-6">I adapt to any situation.</span></li>
					<li>Honorable - <span class="fw-normal fs-6">Staying true to my word.</span></li>
					<li>Just - <span class="fw-normal fs-6">Equal chances for everyone.</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row  m-0 p-0 mb-3">
		<div class="card col-md-12 border-success rounded-5" style="min-height: 6rem; max-height: 6rem; overflow: hidden;">
			<div class="tech-marquee-wrapper rounded-5 mt-3">
				<div class="tech-marquee d-flex align-item-start">
					@foreach (var tech in TechData.Projects)
					{
						<div class="tech-item text-center me-5 mb-3">
							<img style="min-height: 3rem; max-height: 3rem;" src="@tech.ImageUrl" alt="@tech.Name" />
							<p class="fs-6 text-white m-0">@tech.Name</p>
						</div>
					}

					@* repeat for seamless scroll *@
					@foreach (var tech in TechData.Projects)
					{
						<div class="tech-item text-center me-5 mb-3">
							<img style="min-height: 3rem; max-height: 3rem;" src="@tech.ImageUrl" alt="@tech.Name" />
							<p class="fs-6 text-white m-0">@tech.Name</p>
						</div>
					}
					<div class="tech-item spacer d-block d-sm-none" style="width: 6rem;"></div>  <!-- xs -->
					<div class="tech-item spacer d-none d-sm-block d-md-none" style="width: 7rem;"></div> <!-- sm -->
					<div class="tech-item spacer d-none d-md-block" style="width: 9rem;"></div> <!-- md and up -->
				</div>
			</div>
		</div>
	</div>
	<div class="row m-0 p-0 mb-3" style="position:relative;">
		<a class="card project-card p-0 m-0 ps-2 pt-2 col-md-12 border border-success rounded-5" href="https://github.com/Chatzo" target="_blank" rel="noopener noreferrer" style="min-height: 5rem; min-width: 5rem;max-height: 21rem; max-width: 100%;">
			<p id="github-contributions" class="fs-5 ps-2 fw-bold text-Success">GitHub contributions in the last year: @ViewData["GithubContributions"]</p>
			<div style="position: relative; width: 100%; padding-top: 25%;">
				<!-- Background: GitHub contributions chart -->
				<img src="https://ghchart.rshah.org/Chatzo" alt="GitHub Contributions Chart"
					 style="display: block; position: absolute; top: 0%; left: 0%; width: 100%;">
				<!-- Gray overlay rectangle -->
				<div style="background-color: var(--bs-card-bg); position: absolute;top: 12%; left: 3%; width: 97%; height: 70%;"></div>
				<!-- Overlay: Snake animation -->
				<img src="https://raw.githubusercontent.com/Chatzo/Chatzo/refs/heads/main/dist/github-snake-dark.svg"
					 alt="GitHub Snake"
					 style="display: block; position: absolute; top: -3%; left: 1.5%; width: 100%; pointer-events: none;">
			</div>
			<div class="overlay overlay-bg-anim">Go to Github --></div>
		</a>
	</div>
</section>
<section id="projects" class="container py-5">
	<h3>#<span class="text-white">Projects</span></h3>
	<div class="row  m-0 p-0 mb-3">
		@foreach (var project in ProjectData.Projects)
		{
			<a asp-controller="Home" asp-action="Details" asp-route-id="@project.Id"
			   class="card project-card col-md-5 m-0 p-0 ps-lg-3 mt-3 ms-lg-3 p-2 border-success rounded-5">
				<div style="width:100%; height: 50%;">
					@if(project.Images.Count >= 1)
					{
						<img src="@project.Images[0]" alt="@project.Title"
							 class="img-fluid w-100 h-100 p-2 object-fit-cover rounded-4">
					}
					
				</div>

				<div class="p-2 d-flex flex-column">
					<div>
						<h5 class="fw-bold text-success">@project.Title</h5>
						<p class="mb-1 text-white">@project.Summary</p>
					</div>
					<div>
						@foreach (var tag in project.Tags)
						{
							<span class="badge project-tag">@tag</span>
						}
					</div>
				</div>

				<div class="overlay overlay-bg-anim">Read more</div>
			</a>
		}
	</div>
</section>
@inject IConfiguration Configuration
<section id="contact" class="container py-5">
	<h3>#<span class="text-white">Contact</span></h3>
	<div class="card p-3 m-0 col-md-12 mb-3 border border-success rounded-5" style="position:relative;">
		<form action="https://formsubmit.co/@Configuration["FormSubmit:Endpoint"]" method="POST">
			<div class="mb-3" style="width: 40%">
				<label for="email" class="form-label">Your email address:</label>
				<input type="email" class="form-control bg-dark text-white border border-success" id="email" name="email" required>
			</div>
			<div class="mb-3">
				<label for="message" class="form-label">Message:</label>
				<textarea class="form-control bg-dark text-white border border-success" id="message" name="message" rows="5" required></textarea>
			</div>
			<!-- Honeypot (hidden) -->
			<input type="text" name="_honey" style="display:none">

			<!-- Optional: Redirect after submit -->
			<input type="hidden" name="_next" value="https://localhost:7038/Home/#contact">

			<div class="d-flex justify-content-end">
				<button type="submit" class="btn btn-outline-success btn-lg px-5">Send</button>
			</div>
		</form>
	</div>
</section>